In [1]:
for i in range(4):
  for j in range(1,5):
    print(j,end=' ')
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [2]:
for i in range(1,5):
  for j in range(4):
    print(i,end=' ')
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [3]:
for i in range(4,0,-1):
  for j in range(4):
    print(i,end = ' ')
  print()

4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [4]:
for i in range(4):
  for j in range(4,0,-1):
    print(j,end=' ')
  print()

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [5]:
for i in range(4):
  x = 1
  for j in range(4):
    print(x,end=' ')
    x+=2
  print()

1 3 5 7
1 3 5 7
1 3 5 7
1 3 5 7

In [6]:
n = 4
for i in range(4):
  x = (2*n)-1
  for j in range(4):
    print(x,end=' ')
    x -= 2
  print()

7 5 3 1
7 5 3 1
7 5 3 1
7 5 3 1

In [7]:
n = 4
for i in range(4):
  x = 2
  for j in range(4):
    print(x,end=' ')
    x += 2
  print()

2 4 6 8
2 4 6 8
2 4 6 8
2 4 6 8

In [9]:
n = 4
for i in range(4):
  x = (2*n)
  for j in range(4):
    print(x,end=' ')
    x -= 2
  print()

8 6 4 2
8 6 4 2
8 6 4 2
8 6 4 2

In [10]:
x = 1
for i in range(4):
  for j in range(4):
    print(x,end=' ')
    x+=1
  print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [12]:
x = n**2
for i in range(4):
  for j in range(4):
    print(x,end=' ')
    x-=1
  print()

16 15 14 13
12 11 10 9
8 7 6 5
4 3 2 1

In [13]:
x = 1
for i in range(4):
  for j in range(4):
    print(x,end=' ')
    x+=2
  print()

1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

In [14]:
x = 2
for i in range(4):
  for j in range(4):
    print(x,end=' ')
    x+=2
  print()

2 4 6 8
10 12 14 16
18 20 22 24
26 28 30 32

In [15]:
x =(n**2)*2-1
for i in range(4):
  for j in range(4):
    print(x, end = ' ')
    x-=2
  print()

31 29 27 25
23 21 19 17
15 13 11 9
7 5 3 1

In [16]:
x =(n**2)*2
for i in range(4):
  for j in range(4):
    print(x, end = ' ')
    x-=2
  print()

32 30 28 26
24 22 20 18
16 14 12 10
8 6 4 2