hollow pattern 1

In [ ]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end = ' ')
  print("")

Enter the number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end = ' ')
  print("")

Enter the number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

j==1 or i == n  or j == i

In [ ]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
  for j in range(1,i+1):
    if   j==1 or i == n  or j == i:
      print("#",end = ' ')
    else:
      print(" ",end = ' ')
  print("")

Enter the number of rows: 5
#
# #
#   #
#     #
# # # # #

HOLLOW PATTERN 2

In [ ]:
n = 5
for i in range(n , 0 , -1 ):
  for j in range(1,i+1):
    print(j,end = ' ')
  print('')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(n , 0 , -1 ):
  for j in range(1,i+1):
    print(i,end = ' ')
  print('')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

j == 1 or j==i or i==n

In [ ]:
for i in range(n , 0 , -1 ):
  for j in range(1,i+1):
    if j == 1 or j==i or i==n:
      print("*",end = ' ')
    else:
      print(' ',end = ' ')
  print('')

* * * * *
*     *
*   *
* *
*

HOLLOW PATTERN 3

In [ ]:
n = 5
temp = n
for i in range(n,0,-1):
  for space in range(1,temp):
    print(" ",end = ' ')
  for j in range(1,n-i+2):
      print(i,end = ' ')
  print('')
  temp-=1

        5
      4 4
    3 3 3
  2 2 2 2
1 1 1 1 1

In [ ]:
n = 5
temp = n
for i in range(n,0,-1):
  for space in range(1,temp):
    print(" ",end = ' ')
  for j in range(1,n-i+2):
      print(j,end = ' ')
  print('')
  temp-=1

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

i==1 or j==1 or j == n - i + 1

In [ ]:
n = 5
temp = n
for i in range(n,0,-1):
  for space in range(1,temp):
    print(" ",end = ' ')
  for j in range(1,n-i+2):
    if(i==1 or j==1 or j == n - i + 1):
      print("#",end = ' ')
    else:
      print(' ',end = ' ')
  print('')
  temp-=1

        #
      # #
    #   #
  #     #
# # # # #

HOLLOW PATTERN 4

In [99]:
for i in range(1,n+1):
  for space in range(1,i+1):
    print(' ',end =' ')
  for j in range(n,i-1,-1):
    print(i,end = ' ')
  print('')

  1 1 1 1 1
    2 2 2 2
      3 3 3
        4 4
          5

In [100]:
for i in range(1,n+1):
  for space in range(1,i+1):
    print(' ',end =' ')
  for j in range(n,i-1,-1):
    print(j,end = ' ')
  print('')

  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5

i==1 or j==i or j==n

In [103]:
for i in range(1,n+1):
  for space in range(1,i+1):
    print(' ',end =' ')
  for j in range(n,i-1,-1):
    if(i==1 or j==i or j==n):
      print('#',end = ' ')
    else:
      print(' ',end = ' ')
  print('')

  # # # # #
    #     #
      #   #
        # #
          #